<!-- 난이도별 소개 페이지 컴포넌트 -->
<!-- 쉬움 난이도 소개 페이지 -->
<div id="easy-page" class="hidden">
  <div class="mainbox">
    <p>문제는 총 5문제 입니다!</p>
    <p>각 문제를 풀고 정답을 확인 후 <br />직접 점수계산을 해주세요!</p>
    <!-- 시작 버튼 - 클릭시 첫 번째 문제로 이동 -->
    <button class="btn" onclick="showQuiz('easy', 1)">시작</button>
  </div>
</div>

<!-- 보통 난이도 소개 페이지 -->
<div id="normal-page" class="hidden">
  <div class="mainbox">
    <p>문제는 총 5문제 입니다!</p>
    <p>각 문제를 풀고 정답을 확인 후 <br />직접 점수계산을 해주세요!</p>
    <button class="btn" onclick="showQuiz('normal', 1)">시작</button>
  </div>
</div>

<!-- 어려움 난이도 소개 페이지 -->
<div id="hard-page" class="hidden">
  <div class="mainbox">
    <p>문제는 총 5문제 입니다!</p>
    <p>각 문제를 풀고 정답을 확인 후 <br />직접 점수계산을 해주세요!</p>
    <button class="btn" onclick="showQuiz('hard', 1)">시작</button>
  </div>
</div>
