<!-- 쉬움 난이도 퀴즈 컴포넌트 -->
<div id="easy-quiz-1" class="hidden">
  <div class="quiz-box">
    <div>
      <p>1. 태양계에서 가장 큰 행성은 무엇인가요?</p>
    </div>
    <div class="answer-section">
      <input type="checkbox" id="show-easy-1" class="check-box" />
      <label for="show-easy-1" class="ckbtn">정답 확인</label>
      <div class="answer">
        <p>정답: 목성</p>
        <button class="nxtbtn" onclick="showQuiz('easy', 2)">다음 문제</button>
      </div>
    </div>
  </div>
</div>

<div id="easy-quiz-2" class="hidden">
  <div class="quiz-box">
    <div>
      <p>2. 우리나라의 수도는 어디인가요?</p>
    </div>
    <div class="answer-section">
      <input type="checkbox" id="show-easy-2" class="check-box" />
      <label for="show-easy-2" class="ckbtn">정답 확인</label>
      <div class="answer">
        <p>정답: 서울</p>
        <button class="nxtbtn" onclick="showQuiz('easy', 3)">다음 문제</button>
      </div>
    </div>
  </div>
</div>

<div id="easy-quiz-3" class="hidden">
  <div class="quiz-box">
    <div>
      <p>3. 물의 화학식은 무엇인가요?</p>
    </div>
    <div class="answer-section">
      <input type="checkbox" id="show-easy-3" class="check-box" />
      <label for="show-easy-3" class="ckbtn">정답 확인</label>
      <div class="answer">
        <p>정답: H₂O</p>
        <button class="nxtbtn" onclick="showQuiz('easy', 4)">다음 문제</button>
      </div>
    </div>
  </div>
</div>

<div id="easy-quiz-4" class="hidden">
  <div class="quiz-box">
    <div>
      <p>4. 세계에서 면적이 가장 넓은 나라는 어디인가요?</p>
    </div>
    <div class="answer-section">
      <input type="checkbox" id="show-easy-4" class="check-box" />
      <label for="show-easy-4" class="ckbtn">정답 확인</label>
      <div class="answer">
        <p>정답: 러시아</p>
        <button class="nxtbtn" onclick="showQuiz('easy', 5)">다음 문제</button>
      </div>
    </div>
  </div>
</div>

<div id="easy-quiz-5" class="hidden">
  <div class="quiz-box">
    <div>
      <p>5. 지구에서 가장 높은 산은 무엇인가요?</p>
    </div>
    <div class="answer-section">
      <input type="checkbox" id="show-easy-5" class="check-box" />
      <label for="show-easy-5" class="ckbtn">정답 확인</label>
      <div class="answer">
        <p>정답: 에베레스트 산</p>
        <button class="nxtbtn" onclick="showEndPage()">끝</button>
      </div>
    </div>
  </div>
</div>
